.e644_15299 {
  width: 312px;
  height: 382px;
}
.ei644_15299_10_3365 {
  width: 312px;
  height: 382px;
  position: relative;
  left: 0px;
  top: 50px;
}
.ei644_15299_10_3365_8_635 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.i644_15299_10_3365_8_635 {
  border: 1px solid
    rgba(37.00000159442425, 109.00000110268593, 133.00000727176666, 1);
}
.ei644_15299_10_3365_8_690 {
  width: 186.2646942138672px;
  height: 305px;
  position: absolute;
  left: 35.55882263183594px;
  top: 14px;
}
.ei644_15299_10_3365_8_644 {
  color: rgba(25.50000037997961, 24.65000119060278, 24.65000119060278, 1);
  width: 102px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_689 {
  width: 152.57351684570312px;
  height: 264px;
  position: absolute;
  left: 33.69118118286133px;
  top: 41px;
}
.ei644_15299_10_3365_8_652 {
  width: 115px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei644_15299_10_3365_8_651 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ei644_15299_10_3365_8_650 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_645 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 83px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_653 {
  width: 115px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 40px;
}
.ei644_15299_10_3365_8_654 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_655 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_656 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_657 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_684 {
  width: 115px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 80px;
}
.ei644_15299_10_3365_8_685 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_686 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_687 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_688 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 83px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_658 {
  width: 137px;
  height: 24px;
  position: absolute;
  left: 1.617645263671875px;
  top: 120px;
}
.ei644_15299_10_3365_8_659 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_660 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_661 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_662 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 105px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_663 {
  width: 150px;
  height: 24px;
  position: absolute;
  left: 2.5735244750976562px;
  top: 160px;
}
.ei644_15299_10_3365_8_664 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_665 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_666 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_667 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 118px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_668 {
  width: 150px;
  height: 24px;
  position: absolute;
  left: 2.5735244750976562px;
  top: 200px;
}
.ei644_15299_10_3365_8_669 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_670 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_671 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_672 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 118px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.ei644_15299_10_3365_8_674 {
  width: 150px;
  height: 24px;
  position: absolute;
  left: 2.5735244750976562px;
  top: 240px;
}
.ei644_15299_10_3365_8_675 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i644_15299_10_3365_8_676 {
  overflow: hidden;
}

.ei644_15299_10_3365_8_677 {
  background-color: rgba(
    37.00000159442425,
    109.00000110268593,
    133.00000727176666,
    1
  );
  width: 5px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}
.ei644_15299_10_3365_8_678 {
  color: rgba(28.68749924004078, 28.68749924004078, 28.68749924004078, 1);
  width: 118px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
